<a href="https://colab.research.google.com/github/Shabbir3117/Python/blob/main/order%20Data%20analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql.functions import *
prop = {'header':False,'infershema':'True','sep':','}
categories_df = spark.read.options(**prop).csv("categories/part-00000")
categories_df.show()

+---+---+-------------------+
|_c0|_c1|                _c2|
+---+---+-------------------+
|  1|  2|           Football|
|  2|  2|             Soccer|
|  3|  2|Baseball & Softball|
|  4|  2|         Basketball|
|  5|  2|           Lacrosse|
|  6|  2|   Tennis & Racquet|
|  7|  2|             Hockey|
|  8|  2|        More Sports|
|  9|  3|   Cardio Equipment|
| 10|  3|  Strength Training|
| 11|  3|Fitness Accessories|
| 12|  3|       Boxing & MMA|
| 13|  3|        Electronics|
| 14|  3|     Yoga & Pilates|
| 15|  3|  Training by Sport|
| 16|  3|    As Seen on  TV!|
| 17|  4|             Cleats|
| 18|  4|     Men's Footwear|
| 19|  4|   Women's Footwear|
| 20|  4|     Kids' Footwear|
+---+---+-------------------+
only showing top 20 rows

In [ ]:
customers_df = spark.read.csv("customers/part-00000")
customers_df.show()

+---+-----------+---------+---------+---------+--------------------+-------------+---+-----+
|_c0|        _c1|      _c2|      _c3|      _c4|                 _c5|          _c6|_c7|  _c8|
+---+-----------+---------+---------+---------+--------------------+-------------+---+-----+
|  1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville| TX|78521|
|  2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton| CO|80126|
|  3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas| PR|00725|
|  4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos| CA|92069|
|  5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas| PR|00725|
|  6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic| NJ|07055|
|  7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas| PR|00725|
|  8|      Megan|    Smith|XXXXXXXXX|XXXXXXXXX|3047 Foggy Forest...|     Lawrence| MA|01841|
|  9|       Mary|    Perez|XXXXXXXXX|XXXXXXXXX| 3616 Quaking Street|       Caguas| PR|00725|
| 10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford| VA|22554|
| 11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas| PR|00725|
| 12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio| TX|78227|
| 13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas| PR|00725|
| 14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera| CA|90660|
| 15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana| CA|92336|
| 16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas| PR|00725|
| 17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor| MI|48180|
| 18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez| CA|94553|
| 19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas| PR|00725|
| 20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York| NJ|07093|
+---+-----------+---------+---------+---------+--------------------+-------------+---+-----+
only showing top 20 rows

In [ ]:
departments_df = spark.read.csv("departments/part-00000")
departments_df .show()

+---+--------+
|_c0|     _c1|
+---+--------+
|  2| Fitness|
|  3|Footwear|
|  4| Apparel|
|  5|    Golf|
|  6|Outdoors|
|  7|Fan Shop|
+---+--------+

In [ ]:
order_items_df = spark.read.csv("order_items/part-00000")
order_items_df.show()

+---+---+----+---+------+------+
|_c0|_c1| _c2|_c3|   _c4|   _c5|
+---+---+----+---+------+------+
|  1|  1| 957|  1|299.98|299.98|
|  2|  2|1073|  1|199.99|199.99|
|  3|  2| 502|  5| 250.0|  50.0|
|  4|  2| 403|  1|129.99|129.99|
|  5|  4| 897|  2| 49.98| 24.99|
|  6|  4| 365|  5|299.95| 59.99|
|  7|  4| 502|  3| 150.0|  50.0|
|  8|  4|1014|  4|199.92| 49.98|
|  9|  5| 957|  1|299.98|299.98|
| 10|  5| 365|  5|299.95| 59.99|
| 11|  5|1014|  2| 99.96| 49.98|
| 12|  5| 957|  1|299.98|299.98|
| 13|  5| 403|  1|129.99|129.99|
| 14|  7|1073|  1|199.99|199.99|
| 15|  7| 957|  1|299.98|299.98|
| 16|  7| 926|  5| 79.95| 15.99|
| 17|  8| 365|  3|179.97| 59.99|
| 18|  8| 365|  5|299.95| 59.99|
| 19|  8|1014|  4|199.92| 49.98|
| 20|  8| 502|  1|  50.0|  50.0|
+---+---+----+---+------+------+
only showing top 20 rows

In [ ]:
orders_df = spark.read.csv("orders/part-00000")
orders_df.show()

+---+--------------------+-----+---------------+
|_c0|                 _c1|  _c2|            _c3|
+---+--------------------+-----+---------------+
|  1|2013-07-25 00:00:...|11599|         CLOSED|
|  2|2013-07-25 00:00:...|  256|PENDING_PAYMENT|
|  3|2013-07-25 00:00:...|12111|       COMPLETE|
|  4|2013-07-25 00:00:...| 8827|         CLOSED|
|  5|2013-07-25 00:00:...|11318|       COMPLETE|
|  6|2013-07-25 00:00:...| 7130|       COMPLETE|
|  7|2013-07-25 00:00:...| 4530|       COMPLETE|
|  8|2013-07-25 00:00:...| 2911|     PROCESSING|
|  9|2013-07-25 00:00:...| 5657|PENDING_PAYMENT|
| 10|2013-07-25 00:00:...| 5648|PENDING_PAYMENT|
| 11|2013-07-25 00:00:...|  918| PAYMENT_REVIEW|
| 12|2013-07-25 00:00:...| 1837|         CLOSED|
| 13|2013-07-25 00:00:...| 9149|PENDING_PAYMENT|
| 14|2013-07-25 00:00:...| 9842|     PROCESSING|
| 15|2013-07-25 00:00:...| 2568|       COMPLETE|
| 16|2013-07-25 00:00:...| 7276|PENDING_PAYMENT|
| 17|2013-07-25 00:00:...| 2667|       COMPLETE|
| 18|2013-07-25 00:00:...| 1205|         CLOSED|
| 19|2013-07-25 00:00:...| 9488|PENDING_PAYMENT|
| 20|2013-07-25 00:00:...| 9198|     PROCESSING|
+---+--------------------+-----+---------------+
only showing top 20 rows

In [ ]:
products_df = spark.read.csv("products/part-00000")
products_df.show()

+---+---+--------------------+----+------+--------------------+
|_c0|_c1|                 _c2| _c3|   _c4|                 _c5|
+---+---+--------------------+----+------+--------------------+
|  1|  2|Quest Q64 10 FT. ...|null| 59.98|http://images.acm...|
|  2|  2|Under Armour Men'...|null|129.99|http://images.acm...|
|  3|  2|Under Armour Men'...|null| 89.99|http://images.acm...|
|  4|  2|Under Armour Men'...|null| 89.99|http://images.acm...|
|  5|  2|Riddell Youth Rev...|null|199.99|http://images.acm...|
|  6|  2|Jordan Men's VI R...|null|134.99|http://images.acm...|
|  7|  2|Schutt Youth Recr...|null| 99.99|http://images.acm...|
|  8|  2|Nike Men's Vapor ...|null|129.99|http://images.acm...|
|  9|  2|Nike Adult Vapor ...|null|  50.0|http://images.acm...|
| 10|  2|Under Armour Men'...|null|129.99|http://images.acm...|
| 11|  2|Fitness Gear 300 ...|null|209.99|http://images.acm...|
| 12|  2|Under Armour Men'...|null|139.99|http://images.acm...|
| 13|  2|Under Armour Men'...|null| 89.99|http://images.acm...|
| 14|  2|Quik Shade Summit...|null|199.99|http://images.acm...|
| 15|  2|Under Armour Kids...|null| 59.99|http://images.acm...|
| 16|  2|Riddell Youth 360...|null|299.99|http://images.acm...|
| 17|  2|Under Armour Men'...|null|129.99|http://images.acm...|
| 18|  2|Reebok Men's Full...|null| 29.97|http://images.acm...|
| 19|  2|Nike Men's Finger...|null|124.99|http://images.acm...|
| 20|  2|Under Armour Men'...|null|129.99|http://images.acm...|
+---+---+--------------------+----+------+--------------------+
only showing top 20 rows

In [ ]:
orders_df = (orders_df.withColumnRenamed("_c0", "order_id").withColumnRenamed("_c1", "order_date").withColumnRenamed("_c2", "order_customer_id").withColumnRenamed("_c3", "order_status"))

In [ ]:
# Update column names for order_items_df
order_items_df = (order_items_df.withColumnRenamed("_c0", "order_item_id").withColumnRenamed("_c1", "order_item_order_id").withColumnRenamed("_c2", "order_item_product_id").withColumnRenamed("_c3", "order_item_quantity").withColumnRenamed("_c4", "order_item_subtotal").withColumnRenamed("_c5", "order_item_product_price"))

In [ ]:
# Update column names for products_df
products_df = (products_df.withColumnRenamed("_c0", "product_id").withColumnRenamed("_c1", "product_category_id").withColumnRenamed("_c2", "product_name").withColumnRenamed("_c3", "product_description").withColumnRenamed("_c4", "product_price").withColumnRenamed("_c5", "product_image"))

In [ ]:
#What is the daily product revenue for CLOSED or COMPLETE orders?
orders_df.show()
order_status_count = orders_df.groupBy(col("order_status")).count()
order_status_count.show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|             1837|         CLOSED|
|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|             9842|     PROCESSING|
|      15|2013-07-25 00:00:...|             2568|       COMPLETE|
|      16|2013-07-25 00:00:...|             7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|             2667|       COMPLETE|
|      18|2013-07-25 00:00:...|             1205|         CLOSED|
|      19|2013-07-25 00:00:...|             9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|             9198|     PROCESSING|
+--------+--------------------+-----------------+---------------+
only showing top 20 rows

+---------------+-----+
|   order_status|count|
+---------------+-----+
|PENDING_PAYMENT|15029|
|              3|12055|
|         199.99|    1|
|           null|    2|
|              5|12067|
|       COMPLETE|22898|
|        ON_HOLD| 3798|
| PAYMENT_REVIEW|  729|
|     PROCESSING| 8275|
|              1|55452|
|         CLOSED| 7556|
|              4|12179|
|SUSPECTED_FRAUD| 1558|
|        PENDING| 7610|
|       CANCELED| 1428|
|              2|11967|
+---------------+-----+

In [ ]:
# Filter only COMPLETE or CLOSED orders
closed_complete_orders_df = orders_df.filter((orders_df["order_status"] == "COMPLETE") | (orders_df["order_status"] == "CLOSED"))
closed_complete_orders_df.show()

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|       1|2013-07-25 00:00:...|            11599|      CLOSED|
|       3|2013-07-25 00:00:...|            12111|    COMPLETE|
|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       6|2013-07-25 00:00:...|             7130|    COMPLETE|
|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
|      17|2013-07-25 00:00:...|             2667|    COMPLETE|
|      18|2013-07-25 00:00:...|             1205|      CLOSED|
|      22|2013-07-25 00:00:...|              333|    COMPLETE|
|      24|2013-07-25 00:00:...|            11441|      CLOSED|
|      25|2013-07-25 00:00:...|             9503|      CLOSED|
|      26|2013-07-25 00:00:...|             7562|    COMPLETE|
|      28|2013-07-25 00:00:...|              656|    COMPLETE|
|      32|2013-07-25 00:00:...|             3960|    COMPLETE|
|      35|2013-07-25 00:00:...|             4840|    COMPLETE|
|      37|2013-07-25 00:00:...|             5863|      CLOSED|
|      45|2013-07-25 00:00:...|             2636|    COMPLETE|
|      51|2013-07-25 00:00:...|            12271|      CLOSED|
+--------+--------------------+-----------------+------------+
only showing top 20 rows

In [ ]:
# Join the products, order_items, and closed_complete_orders DataFrames
joined_df = (
    products_df.join(order_items_df, products_df["product_id"] == order_items_df["order_item_product_id"], "inner")
    .join(closed_complete_orders_df, order_items_df["order_item_order_id"] == closed_complete_orders_df["order_id"], "inner")
).show(10)

+----------+-------------------+--------------------+-------------------+-------------+--------------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+--------+--------------------+-----------------+------------+
|product_id|product_category_id|        product_name|product_description|product_price|       product_image|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|order_id|          order_date|order_customer_id|order_status|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+--------+--------------------+-----------------+------------+
|       957|                 43|Diamondback Women...|               null|       299.98|http://images.acm...|            1|                  1|                  957|                  1|             299.98|                  299.98|       1|2013-07-25 00:00:...|            11599|      CLOSED|
|       897|                 40|Team Golf New Eng...|               null|        24.99|http://images.acm...|            5|                  4|                  897|                  2|              49.98|                   24.99|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       365|                 17|Perfect Fitness P...|               null|        59.99|http://images.acm...|            6|                  4|                  365|                  5|             299.95|                   59.99|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       502|                 24|Nike Men's Dri-FI...|               null|         50.0|http://images.acm...|            7|                  4|                  502|                  3|              150.0|                    50.0|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|      1014|                 46|O'Brien Men's Neo...|               null|        49.98|http://images.acm...|            8|                  4|                 1014|                  4|             199.92|                   49.98|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       957|                 43|Diamondback Women...|               null|       299.98|http://images.acm...|            9|                  5|                  957|                  1|             299.98|                  299.98|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       365|                 17|Perfect Fitness P...|               null|        59.99|http://images.acm...|           10|                  5|                  365|                  5|             299.95|                   59.99|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|      1014|                 46|O'Brien Men's Neo...|               null|        49.98|http://images.acm...|           11|                  5|                 1014|                  2|              99.96|                   49.98|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       957|                 43|Diamondback Women...|               null|       299.98|http://images.acm...|           12|                  5|                  957|                  1|             299.98|                  299.98|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       403|                 18|Nike Men's CJ Eli...|               null|       129.99|http://images.acm...|           13|                  5|                  403|                  1|             129.99|                  129.99|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+--------+--------------------+-----------------+------------+
only showing top 10 rows

In [ ]:
# Join tables and calculate daily product revenue
joined_df = (
    products_df.join(order_items_df, products_df["product_id"] == order_items_df["order_item_product_id"], "inner")
    .join(closed_complete_orders_df, order_items_df["order_item_order_id"] == closed_complete_orders_df["order_id"], "inner")
)
joined_df.show()

+----------+-------------------+--------------------+-------------------+-------------+--------------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+--------+--------------------+-----------------+------------+
|product_id|product_category_id|        product_name|product_description|product_price|       product_image|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|order_id|          order_date|order_customer_id|order_status|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+--------+--------------------+-----------------+------------+
|       957|                 43|Diamondback Women...|               null|       299.98|http://images.acm...|            1|                  1|                  957|                  1|             299.98|                  299.98|       1|2013-07-25 00:00:...|            11599|      CLOSED|
|       897|                 40|Team Golf New Eng...|               null|        24.99|http://images.acm...|            5|                  4|                  897|                  2|              49.98|                   24.99|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       365|                 17|Perfect Fitness P...|               null|        59.99|http://images.acm...|            6|                  4|                  365|                  5|             299.95|                   59.99|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       502|                 24|Nike Men's Dri-FI...|               null|         50.0|http://images.acm...|            7|                  4|                  502|                  3|              150.0|                    50.0|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|      1014|                 46|O'Brien Men's Neo...|               null|        49.98|http://images.acm...|            8|                  4|                 1014|                  4|             199.92|                   49.98|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       957|                 43|Diamondback Women...|               null|       299.98|http://images.acm...|            9|                  5|                  957|                  1|             299.98|                  299.98|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       365|                 17|Perfect Fitness P...|               null|        59.99|http://images.acm...|           10|                  5|                  365|                  5|             299.95|                   59.99|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|      1014|                 46|O'Brien Men's Neo...|               null|        49.98|http://images.acm...|           11|                  5|                 1014|                  2|              99.96|                   49.98|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       957|                 43|Diamondback Women...|               null|       299.98|http://images.acm...|           12|                  5|                  957|                  1|             299.98|                  299.98|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       403|                 18|Nike Men's CJ Eli...|               null|       129.99|http://images.acm...|           13|                  5|                  403|                  1|             129.99|                  129.99|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|      1073|                 48|Pelican Sunstream...|               null|       199.99|http://images.acm...|           14|                  7|                 1073|                  1|             199.99|                  199.99|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|       957|                 43|Diamondback Women...|               null|       299.98|http://images.acm...|           15|                  7|                  957|                  1|             299.98|                  299.98|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|       926|                 41|Glove It Imperial...|               null|        15.99|http://images.acm...|           16|                  7|                  926|                  5|              79.95|                   15.99|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|       957|                 43|Diamondback Women...|               null|       299.98|http://images.acm...|           34|                 12|                  957|                  1|             299.98|                  299.98|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|       134|                  7|Nike Women's Lege...|               null|         25.0|http://images.acm...|           35|                 12|                  134|                  4|              100.0|                    25.0|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|      1014|                 46|O'Brien Men's Neo...|               null|        49.98|http://images.acm...|           36|                 12|                 1014|                  3|             149.94|                   49.98|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|       191|                  9|Nike Men's Free 5...|               null|        99.99|http://images.acm...|           37|                 12|                  191|                  5|             499.95|                   99.99|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|       502|                 24|Nike Men's Dri-FI...|               null|         50.0|http://images.acm...|           38|                 12|                  502|                  5|              250.0|                    50.0|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|       502|                 24|Nike Men's Dri-FI...|               null|         50.0|http://images.acm...|           43|                 15|                  502|                  1|               50.0|                    50.0|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
|      1073|                 48|Pelican Sunstream...|               null|       199.99|http://images.acm...|           44|                 15|                 1073|                  1|             199.99|                  199.99|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+--------+--------------------+-----------------+------------+
only showing top 20 rows

In [ ]:
# Calculate daily product revenue
daily_product_revenue_df = (joined_df.groupBy("order_date", "product_id").agg({"order_item_subtotal": "sum"}).withColumnRenamed("sum(order_item_subtotal)", "daily_product_revenue"))
daily_product_revenue_df.show()

+--------------------+----------+---------------------+
|          order_date|product_id|daily_product_revenue|
+--------------------+----------+---------------------+
|2013-08-01 00:00:...|       926|                47.97|
|2013-08-04 00:00:...|       249|               219.88|
|2013-08-05 00:00:...|      1073|   2999.8499999999995|
|2013-08-07 00:00:...|       273|               139.95|
|2013-08-07 00:00:...|       797|                17.99|
|2013-08-19 00:00:...|        37|               104.97|
|2013-08-20 00:00:...|       249|               164.91|
|2013-08-25 00:00:...|       191|   3599.6399999999994|
|2013-08-26 00:00:...|       977|                59.98|
|2013-10-07 00:00:...|      1073|              1399.93|
|2013-10-24 00:00:...|       134|                 50.0|
|2013-10-30 00:00:...|       116|               224.95|
|2013-11-05 00:00:...|       282|                63.98|
|2013-11-14 00:00:...|       627|              2359.41|
|2013-11-18 00:00:...|       771|               199.95|
|2013-11-25 00:00:...|       822|               191.96|
|2013-12-13 00:00:...|       885|                74.97|
|2013-12-15 00:00:...|       728|                650.0|
|2013-12-21 00:00:...|      1014|    3998.400000000001|
|2014-01-05 00:00:...|       957|    7199.519999999997|
+--------------------+----------+---------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.types import StructType, StructField, TimestampType, StringType, DoubleType

# Define the schema for the Hive table
schema = StructType([StructField("order_date", TimestampType(), True),StructField("product_name", StringType(), True),StructField("revenue", DoubleType(), True)])

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, TimestampType, StringType, DoubleType

In [ ]:

# Initialize a Spark session
spark = SparkSession.builder.appName("RetailDataAnalysis").enableHiveSupport().getOrCreate()

# Define the schema for the Hive table
schema = StructType([StructField("order_date", TimestampType(), True),StructField("product_name", StringType(), True),StructField("revenue", DoubleType(), True)])

# Create the Hive table with the specified schema
spark.sql("CREATE TABLE IF NOT EXISTS daily_product_revenue (order_date TIMESTAMP, product_name STRING, revenue DOUBLE)")

In [ ]:
# Save the DataFrame as the Hive table
daily_product_revenue_df.write.format("parquet").mode("overwrite").saveAsTable("daily_product_revenue")

In [ ]:

# Read the Hive table into a DataFrame
daily_product_revenue_df = spark.sql("SELECT * FROM daily_product_revenue")

In [ ]:
# Perform queries on the DataFrame
daily_product_revenue_df.show()